APP_ENV=development
APP_PORT=8080
APP_NAME=pm-backend
API_PREFIX=/api/v1
ALLOW_ORIGINS=*

USE_MOCK=true
DATABASE_URL=postgres://postgres:postgres@localhost:5432/pmdb?sslmode=disable

PUBLIC_BASE_URL=http://localhost:8080
FRONTEND_BASE_URL=http://localhost:5173
STATIC_MOUNT_PREFIX=/static
STATIC_LOCAL_DIR=./public

ADMIN_LOGIN_USERNAME=admin
ADMIN_LOGIN_PASSWORD=123456
ADMIN_JWT_SECRET=pm-admin-dev-secret
ADMIN_TOKEN_EXPIRE_HOURS=72
